.left-pane {
  overflow: auto;
  border: none;
  background-color: #ffffff;
  color: #000000;
  height: 95%;
  min-width: 150px;
  padding-left: 10px;
  padding-top: 5px;
}

.title-leftpane {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  color: #000000;
  background-color: #e2e2e2;
  padding: 10px;
  border-radius: 20px;
  height: 40px;
}

.left-pane h3 {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  border-radius: 10px;
  padding: 5px;
}

.course:hover {
  background-color: #e4e4e4;
}

.topic:hover {
  background-color: #c0c0c0;
}

.active-topic {
  background-color: #c0c0c0;
  color: #000000;
}

.course {
  margin-bottom: 10px;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 15px;
}

.topic {
  color: #000000;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 2px;
  padding-left: 15px;
  text-align: left;
  border-radius: 10px;
}
