.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0px;
  width: 100%;
  height: 5%; /* Adjust the height value as needed */
  border: #ececf1;
  border-bottom: 1px solid #b6b6b6; /* Add border style */
}

.nav-item {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  flex-grow: 1; /* Added */
  height: 30px;
  padding-top: 2px;
  font-weight: bold;
}

.nav-item:last-child {
  margin-right: 0; /* Added */
}

.nav-item:hover {
  background-color: #d1d1d1;
  height: 30px;
  border-radius: 20px;
}

.nav-item.active {
  text-decoration: none;
  background-color: #c4c4c4;
  color: #000000;

  height: 30px;
  border-radius: 20px;
}

.link-disabled {
  background-color: #838383;
  color: #575656;
  height: 30px;
  border-radius: 20px;
  cursor: not-allowed;
}

.account-modal .modal-content {
  color: #000000;
  background-color: #d6d6d6;
  width: 800px;
}

.expandable-input {
  resize: both;
  overflow: auto;
  max-height: 200px;
  min-width: 750px;
  max-width: 750px;
  background-color: #ffffff;
  margin-bottom: 30px;
}
